.portfolio{
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: rgba(255, 255, 255, 0.9);
}

.portfolio-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.PPS-wrapper{
    position:relative;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(250,250,235,0.7);
    font-family: 'M PLUS Rounded 1a', sans-serif;
    font-size: 14px;
}

.ORS-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,245,255,0.7);
    font-family: 'M PLUS Rounded 1a', sans-serif;
    font-size: 14px;
}

.work-title{
    position: relative;
    height: fit-content;
    margin: 3vw;
    color: #343469;
    font-weight: 500;
    font-size: x-large;
}

.work-introduction{
    position: relative;
    margin: 3vh;
    display: grid;
    grid-gap:5px;
}

.img-lists{
    position: relative;
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    justify-items: center;
}

.link-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:8px;
    justify-items: center;
    margin: 30px;
}

.work-img{
    background-position: center;
    background-size: contain;
    position: relative;
}

.PPS-img1{
    position: relative;
    background:url(../../img/portfolio-img/PPS-img1.png) no-repeat center center;
    background-size: 200px auto;
    width: 200px;
    height: 150px;
}

.PPS-img2{
    position: relative;
    background: url(../../img/portfolio-img/PPS-img2.png) no-repeat center center;
    background-size: auto 150px;
    width: 150px;
    height: 150px;
}

.PPS-img3{
    position: relative;
    background:url(../../img/portfolio-img/PPS-img3.png) no-repeat center center;
    background-size: 200px auto;
    width: 200px;
    height: 150px;
}

.PPS-img4{
    position: relative;
    background:url(../../img/portfolio-img/PPS-img4.png) no-repeat center center;
    background-size: auto 150px;
    width: 150px;
    height: 150px;
}

.ORS-mov{
    position: relative;
    width:200px;
    height:300px;
}

.heading1{
    font-size: 16px;
    color: #003f80a1;
    margin-top: 20px;
}

.intro-sentence1{
    color: dimgrey;
}

.heading2{
    font-size: 16px;
    color: #025b69a6;
    margin-top: 20px;
}

.intro-sentence2{
    color: #616161;;
}

.mysite-link{
    display: grid;
    justify-items: center;
}

.github-link{
    display: grid;
    justify-items: center;
}

.link-warnings{
    font-size:x-small;
    color: #8d84a2;
}

.anchor1{
    color: #155bc3;
    text-decoration: none;
}

.anchor2{
    color: #155bc3;
    text-decoration: none;
}
